<section>
    <h1>Combine</h1>
    <div data-bind="foreach: slots">
        <div class="select-box" data-bind="with: item, css: { selected: isSelected }, click: select">
            <span data-bind="text: item.title"></span>
        </div>
    </div>
    <div data-bind="if: canCombine">
        <button type="button" class="btn btn-default" data-bind="click: combine">Combine these items</button>
    </div>
</section>
<!-- ko if: isInventoryOpen -->
    <!-- ko module: 'inventory' -->
    <!-- /ko -->
<!-- /ko -->
