<section class="inventory">
    <h1>Inventory <span class="close" data-bind="click: closeInventory">(X)</h1>
    <ul data-bind="foreach: items">
        <li data-bind="click: $parent.select">
            <span data-bind="text: count"></span>x <span data-bind="text: item.title"></span>
        </li>
    </ul>
    <div data-bind="with: selectedItem">
        <h1>
            <span data-bind="text: item.title"></span> <span class="close" data-bind="click: $parent.closeSelect">(X)</span>
        </h1>
        <p data-bind="text: item.description"></p>
        <p>
            <button type="button" class="btn btn-default" data-bind="click: select">Select this item</button>
        </p>
    </div>
</section>
